<?xml version="1.0" encoding="utf-8" ?>
<!-- App.config is solution to error 'caused the assembly to be sandboxed' -->
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>