<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- TODO: monitor this change -->
  <!-- may cause Defender to quarantine the app -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <!-- force newer version of .NET Framework to be backward compatible -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <!-- solution to MS error 'caused the assembly to be sandboxed' -->
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <!-- establish runtime status of App.config using ConfigurationSettings.AppSettings -->
  <appSettings>
    <add key="key" value="true" />
  </appSettings>
</configuration>
