<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        autoReload="true" throwExceptions="false" internalLogFile="nLog_selflog.txt" internalLogLevel="Error">
    
        <variable name="dlayout" value = "${longdate} | ${MachineName} | PID: ${processid} | ${logger} (${level:uppercase=true}) : ${newline} ${callsite} ${newline} ${message} ${newline}${exception:format=type,message,method,stacktrace,tostring}" />
        <variable name="dlayout2" value = "${longdate} | ${logger} (${level:uppercase=true}) : ${newline} ${callsite} ${newline} ${message} ${newline}${exception:format=type,message,method,stacktrace,tostring}" />
    <variable name="brief" value = "${longdate} | ${level} | ${logger} | ${message}"/>
    <variable name="verbose" value = "${longdate} | ${machinename} | ${processid} | ${processname} | ${level} | ${logger} | ${message}"/>
    <!-- <variable name="MachineID" value="${processinfo:property=MachineName} - ${windows-identity:userName=true:domain=false}" /> -->
    
        <targets async="true">
            <target xsi:type="File"
            name="logFile"
            keepFileOpen="true"
            fileName="_RSToolkit_${shortdate}.log"
            layout="${dlayout2}"
            lineEnding="Default"
            archiveEvery="Month"
            archiveFileName="_RSTLogDB_${shortdate}.txt"
            archiveAboveSize="1024000"
            archiveNumbering="Sequence"
            autoFlush="true"
            concurrentWrites="true"
            deleteOldFileOnStartup="true"
            maxArchiveFiles="31"
            />
      <!--<target xsi:type="EventLog"
             name="event"
             layout="${dlayout}"
             source="${applicationName}"
             log="Application"
             machineName="."
             />
      <target xsi:type="Debug"
        name="debug"
        layout="${message}"
        />
      
      <target xsi:type="Mail"
        name="ToGmailMail"
        header="LogFile From ${MachineID}"
        layout="${dlayout}"
        html="true"
        addNewLines="true"
        encoding="UTF-8"
        subject="Bug-Report for RSToolkit"
        to="RSToolkit@gmail.com"
        from="${MachineID}"
        body="${dlayout} || ${message}"
        enableSsl="true"
        smtpUserName="${MachineID}@rstoolkit.logger"
        smtpPassword="password"
        smtpAuthentication="Basic"
        smtpServer="smtp.gmail.com"
        smtpPort="587"
        />
<!-     <target xsi:type="Database" name="database">
            <connectionString>
                data source=LABPC02;initial catalog=SampleDatabase;Integrated Security=SSPI;
                </connectionString>
                <commandText>
                INSERT INTO Diagnostics
                (Severity
                ,Message
                ,StackTrace
                ,User
                ,MachineName
                )
                VALUES (  @severity
                , @message
                , @stacktrace
                , @User
                , @machinename
                )				
                </commandText>
                <parameter name="@severity" layout="${level}"/>
                <parameter name="@message" layout="${message}"/>
                <parameter name="@machinename" layout="${machinename}"/>
                <parameter name="@User" layout="${windows-identity:domain=true}"/>
                <parameter name="@stacktrace" layout="${stacktrace}"/>
            </target> --> -->
        </targets>
        <rules>
            <!--<logger name="*" minLevel="Error" writeTo="event" />-->
            <logger name="*" minLevel="Info" writeTo="logFile"/>
        </rules>
  </nlog>
</configuration>